.spyproject/
*.pyproj*
.idea/
build/
dist/
pylsewave.egg-info/
*.pyc
*.avi
*.vtp
*.vtm
*.pvsm
pylsewave/*.pyc
pylsewave/*.html
pylsewave/*.pyd
pylsewave/*.so
pylsewave/cynum.cpp
pylsewave/pylsewave/*
pylsewave/cyfdm.c
pylsewave/cyfdm.cpp
.ipynb_checkpoints/
CLibs/*/
run_cases/
results/
.*
!.gitignore
!.readthedocs.yml
!.conda

test/*.pyc

doc/_build/
doc/_static/
doc/_templates/
doc/sphinx-rootdir/figures/*.eps
!doc/sphinx-rootdir/*.rst